.ant-card-meta {
    margin: -10px 0;
}
.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 5px;
}
.ant-divider-horizontal {
    margin: 20px 0;
}
.profile-header {
    font-weight: 600;
    font-size: 18px;
    padding: 15px 24px;
    color: #eb7729;
}
.ant-divider-dashed {
    border-top: 1px dashed #eb7729;
}
.edit-btn {
    float: right;
}
